.about {
    text-align: center;
    user-select: none;
}
.about > .icon {
    margin: 20px 0;
}
.about > .icon > img {
    width: 64px;
}
.about > .title {
    font-size: 24px;
}
.about > .sub_title {
    font-size: 18px;
    margin: 8px 0;
    color: #606060;
}